.stories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .stories__list  {
    flex-flow: column;
  }
}