.stories__image {
  border: 0;
  width: 512px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 1439px) {
  .stories__image  {
    width: 472px;
  }
}

@media screen and (max-width: 1023px) {
  .stories__image  {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .stories__image  {
    min-width: 320px;
    min-height: 100%;
  }
}