.events__item {
  border-radius: 10px;
  border: 1px solid var(--aqua);
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 502px;
  box-sizing: border-box;
}

.events__item:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 1023px) {
  .events__item  {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .events__item  {
    max-width: 100%;
    min-width: 320px;
    margin-bottom: 20px;
  }
}