.stories__meta {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  box-sizing: border-box;
  background: #ad5389;
  background: -webkit-linear-gradient(45deg, #3c1053, #ad5389);
  background: linear-gradient(45deg, #3c1053, #ad5389);
  width: 512px;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 1439px) {
  .stories__meta  {
    width: 472px;
  }
}

@media screen and (max-width: 1023px) {
  .stories__meta  {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .stories__meta  {
    min-width: 290px;
    min-height: 100%;
    padding: 15px;
  }
}