.website-title {
  color: var(--white);
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}