.stories__title {
  margin: 0 0 15px;
  font-family: Inter, Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  color: var(--white);
}

.stories__title:hover {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .stories__title  {
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .stories__title  {
    font-size: 28px;
  }
}