.stories__title {
  margin: 0 0 15px;
  font-family: Inter, Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  color: var(--white);
}

.stories__title:hover {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}