.stories__list-item-link {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: var(--white);
  z-index: 2;
}

.stories__list-item-link:hover {
  color: var(--coral);
  text-decoration: underline;
}