.footer__nav {
  margin-left: 25px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__nav  {
    flex-wrap: wrap;
    justify-content: flex-start;

  }
}